<div class="courses-panel">

    <h3>All Courses</h3>

    <mat-tab-group>

        <mat-tab label="Beginners">

            <!-- | async will automatically subscribe to an observable from the template level -->
            <!-- you do not need a subscribe method on the component if you use | async here -->
            <courses-card-list [courses]="beginnerCourses$ | async">

            </courses-card-list>

        </mat-tab>

        <mat-tab label="Advanced">

            <courses-card-list [courses]="advancedCourses$ | async"></courses-card-list>

        </mat-tab>

    </mat-tab-group>



</div>